name: Build

on:
  workflow_call:
    inputs:
      dry-run:
        description: "Run in test mode without publishing artifacts"
        required: false
        default: false
        type: boolean

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
    env:
      CGO_ENABLED: 0
      TAG: ${{ github.ref_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@4aaadf42668403795cdfdb15b1c4250e9fed12b9
        with:
          go-version-file: "go.mod"

      - name: Install Syft for SBOM generation
        run: curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@d31d51ab5501a8d6d0f08c7a080136a1d0adb7a3
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --config build/goreleaser/goreleaser.yaml --clean ${{ inputs.dry-run && '--skip=publish' || '' }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
          DRY_RUN: ${{ inputs.dry-run }}

      - name: Upload binary SBOMs
        if: ${{ !inputs.dry-run }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: binary-sboms
          path: dist/*.sbom
          if-no-files-found: warn

      - name: Generate artifact attestation
        if: ${{ !inputs.dry-run }}
        uses: actions/attest-build-provenance@405d0eac46dee8bbc8a98b540f33935742b4d7c8
        with:
          subject-checksums: ./dist/checksums.txt

      - name: Clean up dist directory
        if: always()
        run: rm -rf dist
