name: Build

on:
  workflow_call:
    inputs:
      dry-run:
        description: "Run in test mode without publishing artifacts"
        required: false
        default: false
        type: boolean

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
    env:
      CGO_ENABLED: 0
      TAG: ${{ github.ref_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@a5f9b05d2d216f63e13859e0d847461041025775
        with:
          go-version-file: "go.mod"

      - name: Install Syft for SBOM generation
        run: curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@ec59f474b9834571250b370d4735c50f8e2d1e29
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --config build/goreleaser/goreleaser.yaml --clean ${{ inputs.dry-run && '--skip=publish' || '' }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
          DRY_RUN: ${{ inputs.dry-run }}

      - name: Upload binary SBOMs
        if: ${{ !inputs.dry-run }}
        uses: actions/upload-artifact@47309c993abb98030a35d55ef7ff34b7fa1074b5
        with:
          name: binary-sboms
          path: dist/*.sbom
          if-no-files-found: warn

      - name: Generate artifact attestation
        if: ${{ !inputs.dry-run }}
        uses: actions/attest-build-provenance@c44148e5bf178192efd8947e07a0d439a356c60b
        with:
          subject-checksums: ./dist/checksums.txt

      - name: Clean up dist directory
        if: always()
        run: rm -rf dist
