name: Lint GitHub Actions Workflows

on:
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows
  pull_request:
    paths:
      - .github/workflows

permissions:
  contents: read

jobs:
  lint-workflows:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Download actionlint
        id: get_actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
        shell: bash

      - name: Check workflow files
        run: ${{ steps.get_actionlint.outputs.executable }} -color
        shell: bash
